/*
	==================================================================================================================
												BEGIN BANNER 
	==================================================================================================================
*/
.type-831{

	.container{
		margin-top:20px;
	}
	.well{
		max-height: 300px;overflow: auto;
	}
	.state-icon {
	    left: -5px;
	}
	.list-group-item-primary {
	    color: rgb(255, 255, 255);
	    background-color: rgb(66, 139, 202);
	}
	.well .list-group {
	    margin-bottom: 0px;
	}
	.item{
		margin: 0;
	}
}
/*
	==================================================================================================================
												END BANNER 
	==================================================================================================================
*/