.type-831 .container {
  margin-top: 20px;
}
.type-831 .well {
  max-height: 300px;
  overflow: auto;
}
.type-831 .well .list-group {
  margin-bottom: 0px;
}
.type-831 .padding-bottom {
  padding-bottom: 0px !important;
}
.type-831 .state-icon {
  left: -5px;
}
.type-831 .list-group-item-primary {
  color: #ffffff;
  background-color: #428bca;
}
.type-831 .item {
  margin: 0;
}
