.module-101 .margin-top {
  margin-top: 5%;
}
@media (max-width: 959px) and (min-width: 800px) {
  .module-101 body {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .module-101 .col-md-9 {
    width: 75%;
  }
}
.module-101 .col-md-3 {
  float: left;
  width: 25%;
}
.module-101 .column-1_3 {
  width: 75%;
}
.module-101 .a {
  margin-top: 0;
  padding-top: 30px;
}
.module-101 img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 6px;
}
.module-101 .footer_wrap aside {
  margin-bottom: 1.5em;
}
.module-101 h5 {
  display: block;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: inherit;
  font-style: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.3333em;
}
.module-101 .bg_tint_light h5 {
  color: #222;
}
.module-101 .widget_title {
  margin-top: 0;
  margin-bottom: 0em;
  color: #909090;
}
.module-101 article {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  display: block;
}
.module-101 .post_item {
  overflow: hidden;
}
.module-101 .post_item .post_thumb {
  float: left;
  width: 4.6875em;
  height: 4.6875em;
  margin: 0 1.25em 4px 0;
  overflow: hidden;
  border-radius: 6px;
}
.module-101 h6 {
  display: block;
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: inherit;
  font-style: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5125em;
  color: #222;
}
.module-101 .post_item .post_title {
  margin: -4px 0 6px 0;
  font-size: 16px;
  margin-bottom: 0;
}
.module-101 .post_item .post_title .post_info {
  font-size: .75em;
  margin-bottom: 0;
}
.module-101 a:-webkit-any-link {
  color: -webkit-link;
  cursor: auto;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  text-decoration: none;
  background: transparent;
  outline: 0;
  transition: all ease .3s;
}
.module-101 h1 {
  font-size: 16px;
  color: #909090;
}
.module-101 * {
  box-sizing: border-box;
}
.module-101 .post_title a {
  color: #909090;
}
.module-101 .post_info {
  line-height: 1.5em;
}
.module-101 .post_info .post_info_item {
  font-style: italic;
}
.module-101 .post_info .post_info_item a {
  font-style: normal;
}
.module-101 .post_info a,
.module-101 .post_info i {
  color: #1eaace;
}
.module-101 .post_info .post_info_counters .post_counters_item {
  display: inline-block;
  margin-right: .75em;
}
.module-101 .post_info a:hover {
  color: #007c9c;
}
.module-101 span {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
.module-101 .post_info_posted_by {
  color: #909090;
}
.module-101 .post_info_item post_info_counters {
  color: #1eaace;
}
